{% extends 'base.html' %}
{% block title %}
  وبلاگ
{% endblock  %}
{% block content %}
<h1>صفحه اصلی</h1>


<h1>پست‌ها</h1>
{% if user.is_authenticated %}
سلام، {{ user.username }} — <a href="{% url 'logout' %}">خروج</a>
{% else %}
<a href="{% url 'login' %}">ورود</a> | <a href="{% url 'signup' %}">ثبت‌نام</a>
{% endif %}



<h2>لیست پست‌ها</h2>
<ul class="list-group">
    {% for post in posts %}
        <li class="list-group-item">
            <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
            <small class="text-muted">{{ post.created_at|date:"Y-m-d H:i" }}</small>
        </li>
      {% empty %}
      <li>پستی وجود ندارد.</li>
    {% endfor %}
</ul>

{% endblock %}